<ion-content [fullscreen]="true">
  <ion-card class="animated-card">
    <ion-card-header>
      <ion-toolbar>
        <ion-title >Crear cuenta de Usuario</ion-title>
      </ion-toolbar>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-input label="Usuario" placeholder="Ingrese nombre de usuario"[(ngModel)]="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-input label="correo" type="email" value="correo"[(ngModel)]="correo" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-input label="password" type="password" value="password"[(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-input label="Celular" type="telefono" value="telefono"[(ngModel)]="telefono" placeholder="888-888-8888"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block" (click)="validarVacio()">Crear sesión</ion-button>
      <br>
      <a href=".\inicio"> Volver</a>
    </ion-card-content>
  </ion-card>
</ion-content>
