<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <div style="text-align: center;">
          <ion-card-title>Iniciar cuenta</ion-card-title>
    </div>
    
  </ion-card-header>
  <ion-card-content class="animated-card">
    <div style="text-align: center; margin-top: 20px;">
    <img 
      src="https://images.squarespace-cdn.com/content/v1/606d159a953867291018f801/1617765260761-95ZQRWCDRLOSBXZZKW5P/cp_thumbs__0003_HD-1.jpg"
      alt="Imagen desde internet" 
      style="width: 250px; height: 250px; border-radius: 10px;" />
    </div>

    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/img/caballero-head.jpg" />
        </ion-thumbnail>
         <ion-input label="Correo" placeholder=""[(ngModel)]="correo" aria-autocomplete="none"></ion-input>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/img/caballero-head.jpg" />
        </ion-thumbnail>
        <ion-input label="Clave" type="password" [(ngModel)]="password" aria-autocomplete="none"></ion-input>
      </ion-item>
    </ion-list>

    <br>
    <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>

    <br>
    <div style="display: flex; justify-content: space-between;">
      <a href=".\pagina2"> Crear cuenta</a>
      <a href=".\solicitacodigo">Cambiar contraseña</a>
    </div>

  </ion-card-content>
</ion-card>
</ion-content>
