<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambia tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.blogs.es/7297f7/puerta-pesada-silksong/1366_2000.jpeg" style="width:500px; height:auto; border-radius:15px;"/>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input [(ngModel)]="pass1" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input [(ngModel)]="pass2" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="cambiarPass()">
      Cambiar
    </ion-button>

  </ion-card>
</ion-content>
