<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambia tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img alt="Silhouette of mountains" src="https://i.blogs.es/7297f7/puerta-pesada-silksong/1366_2000.jpeg" style="width:500px; height:auto; border-radius:15px;"/>
  <ion-card-header>
    <ion-card-title></ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-list>
    <ion-item>
      <ion-input label="Nueva contraseña" label-placement="floating" placeholder=""></ion-input>
    </ion-item> 
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-input label="Repetir contraseña" label-placement="floating" placeholder=""></ion-input>
    </ion-item> 
  </ion-list>


</ion-card>
</ion-content>
