<ion-content>

<ion-card>
  <ion-card-header>

    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5HdyudWA443yfTnln2btzzfC8WhRSLXvMCail8-k3B12_SgQciwEJwhfiKusXStdvawE&usqp=CAU" />

    <ion-card-title>Etapa (numero por definir)</ion-card-title>
    <ion-card-title>Pregunta (numero por definir)</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    ¿Cual es el primer jefe que se puede enfrentar el caballero en hollow Knight?
  </ion-card-content>

  <ion-button fill="clear"> 1. El Hollow Knight </ion-button>
  <ion-button fill="clear"> 2. El Resplandor </ion-button>
  <ion-button fill="clear"> 3. El Falso Caballero </ion-button>
  <ion-button fill="clear"> 4. Hornet </ion-button>
</ion-card>

</ion-content>
