<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Hola</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <ion-icon name="person-circle-outline"></ion-icon> Usuario 

      <ion-button shape="round" routerLink="/tomarfoto">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>

      <ion-button expand="block" (click)="logout()">Cerrar sesión</ion-button>


    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenido</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-footer>

<ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="uno">
      <ion-segment-button value="uno">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tres">
        <ion-icon name="diamond-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-footer>
    <ion-content class="ion-padding">
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
