<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Hola</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-icon name="person-circle-outline">
      </ion-icon> Usuario </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenido</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-footer>
<ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="uno">
      <ion-segment-button value="uno">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-icon name="disc"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tres">
        <ion-icon name="fish"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-footer>
    <ion-content class="ion-padding"> </ion-content>
  </div>
</ion-app>
