<ion-content>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://s.isanook.com/ga/0/ud/203/1015857/hollow_knight.jpg?ip/crop/w670h402/q80/jpg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> El Hollow Knight (El Caballero) es un guerrero insectoide sin nombre, aunque no está basado en un animal específico </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/a1/62/a4/a162a4b12d43be479ab8dbcff149e0a0.jpg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> Hollow Knight es una aventura de acción clásica en 2D ambientada en un vasto mundo interconectado </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>
  
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_HXIvcqT0kEd_X3RFYJiLnG-XkMW3_TlZk83AaQxZhReKCdPca4MtsH31WnouWIVUAs&usqp=CAU" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> Hornet es la protagonista de Hollow Knight: Silksong, una guerrera misteriosa con una armadura de seda y una aguja. Es la hija de la Dama Blanca y la reina araña Herrah, nacida de un pacto para salvar a la ciudad de Nido Profundo. Por lo tanto, comparte padre con el Caballero de Hollow Knight </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>


<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://i.ytimg.com/vi/XhxO39IGgA8/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBRn-1gh6RhG265VgiDQ1xNhhL6LA" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> Hollow Knight tiene cinco finales que se pueden desbloquear principalmente al interactuar de manera diferente con la batalla final contra el Caballero Hueco y al completar contenido adicional como el Palacio Blanco y la expansión Godhome. El primer final es el más básico, mientras que los finales 4 y 5 se desbloquean al completar Panteón de Hallownest y la misión de la Flor Delicada </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/31XlVZ7jgoL._AC_UF350,350_QL80_.jpg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> El propósito de Hollow Knight es explorar el vasto y desmoronado reino de Hallownest para descubrir sus secretos y detener la "Infección" que lo está consumiendo </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://i0.wp.com/levelup.buscafs.com/2025/09/Hollow-Knight-Silksong-dudas-potencial-futuro-indie-Team-Cherry-reddit.jpg?fit=1920,1080&quality=75&strip=all" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> Hollow Knight: Silksong es la secuela directa de Hollow Knight, reemplazando al Caballero como personaje jugable por la princesa protectora Hornet. La relación entre ambos juegos es de continuación de la historia, donde Silksong se ambienta en un nuevo reino llamado Pharloom, siguiendo las aventuras de Hornet después de los eventos de Hollow Knight </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://images.alphacoders.com/135/thumb-1920-1356809.jpeg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content></ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://wallpaper.forfun.com/fetch/dd/dd6ab58f323d15375f99a1e247a1718d.jpeg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content> Zote es un personaje de Hollow Knight que se describe como un guerrero arrogante y sin habilidad real que se considera invencible. Es un viajero de fuera de Hallownest que llegó con la promesa de la gloria, aunque su verdadero poder es nulo y su "espada" no puede causar daño. También aparece una versión más poderosa llamada el "Príncipe Gris Zote", una versión onírica creada por el personaje Bretta </ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://images.sftcdn.net/images/t_app-cover-s,f_auto/p/f7f130ce-3962-4d8c-a03a-d0bfc74ee222/2538908652/hollow-knight-themes-new-tab-screenshot" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content></ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>
  
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://img.uhdpaper.com/image-4/a/thumbnail/hollow-knight-4k--22.4_a.jpg" />
    <ion-card-title>¿Sabias que?</ion-card-title>
  </ion-card-header>

  <ion-card-content></ion-card-content>
  <ion-icon name="chatbubble-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
  <ion-icon name="heart-dislike-outline"></ion-icon>

</ion-card>

</ion-content>



